
.TittleTipodeEquipoLayout{
    background: white;
    color: black;
    font-weight: bold !important;
    border: 1px solid red;
    border-radius:5px;
    margin-right:0.3rem;
    padding-left: 5px ;

}


.TittleTittleTallerLayout{
    background: white;
    color: black;
    font-weight: bold !important;
    border: 1px solid red;
    border-radius:5px;
    margin-right:0.3rem;
    padding-left: 5px ;

}

.TittleUltimoPmLayout{
    background: white;
    color: black;
    font-weight: bold !important;
    border: 1px solid red;
    border-radius:5px;
    margin-right:0.3rem;
    padding-left: 5px ;
}
.TittleEquipoLayout{
    background: white;
    color: black;
    font-weight: bold !important;
    border: 1px solid red;
    border-radius:5px;
    margin-right:0.3rem;
    padding-left: 5px ;
}


.TittleHorometroLayout{
    background: white;
    color: black;
    font-weight: bold !important;
    border: 1px solid red;
    border-radius:5px;
    margin-right:0.3rem;
    padding-left: 5px ;
}
.TxtfieldUltimoPm{
    background-color: rgb(256,196,4);
    color: black;
    width: 238px;
    height: 35px;
    border-radius:5px !important;
    font-weight: 400 !important;

}
.selectEquipo{
    background-color: rgb(256,196,4);
    width: 237px;
    color: black;
    height: 35px;
    border-radius:5px;
    
}
.TxtfieldHorometro{
    width: 236px;
    border: 1px solid rgb(256,196,4) !important;
    border-radius:5px;
    height: 35px;
    color: blue !important;
    margin-right:0.3rem;
    
    .css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
        color: white!important;
    }
}
.SelectTipoTaller{
    width: 237px;
    border: 1px solid rgb(256,196,4) !important;
    border-radius:5px;
    height: 37px;
    color: white !important;
}
.SelectTipoEquipo{
    width: 237px;
    color: white !important;
    border: 1px solid rgb(256,196,4) !important;
    border-radius:5px;
    height: 35px;
    
}

.BoxMenu{
    margin-bottom:7px;
}
.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 6.5px 14px !important;
}
