
.TitlePrevenivos{
    background: white;
    color: black;
    font-weight: bold !important;
    border: 1px solid #0000FF !important;
    border-radius:5px;
    margin-right:0.3rem;
    padding-left: 5px ;
}

.TxtfieldPreventivos{
    background: white;
    width: 200px;
    border: 1px solid #0000FF !important;
    border-radius:5px;
    height: 35px;
    color: black !important;
}

.TxtfieldSumPreventivos{
    background: white;
    width: 200px;
    border: 1px solid #0000FF !important;
    border-radius:5px;
    height: 35px;
    color: black !important;
}


.TitleCorrectivos{
    background: white;
    color: black;
    font-weight: bold !important;
    border: 1px solid red;
    border-radius:5px;
    margin-right:0.3rem;
    padding-left: 5px ;
}

.TxtfieldCorrectivos{
    background: white;
    width: 200px;
    border: 1px solid rgba(240, 10, 60, 0.932) !important;
    border-radius:5px;
    height: 35px;
    color: black !important;

}

.TxtfieldSumCorrectivos{
    background: white;
    width: 200px;
    border: 1px solid rgba(240, 10, 60, 0.932) !important;
    border-radius:5px;
    height: 35px;
    color: black !important;
}

.TittleIntervenciones{
    background: white;
    color: black;
    font-weight: bold !important;
    border: 1px solid black;
    border-radius:5px;
    margin-right:0.3rem;
    padding-left: 5px ;
}
.TxtfieldIntervenciones{
    background-color: rgb(256,196,4);
    color: black;
    width: 200px;
    height: 35px;
    border-radius:5px !important;
    font-weight: 400 !important;
}

