/* .BarHvacCabina{
 
    @media (max-width: 1800px) {
      
        width: 600px;
        height: 300px;
    }
    @media (max-width: 1600px) {
        padding-left: 50px;
        width: 400px;
        height: 150px;
    }
    @media (max-width: 700px) {
      
        width: 400px;
        height: 200px;
    }
} */